rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /albums/{childId}/images/{imageId} {
      allow read, create, update, delete: if true;
    }

    match /syncLogs/{logId} {
      allow read, write: if false;
    }
  }
}
